<div>
  <div class="row">
  <div class="jumbotron text-center well">
    <h3>Vous avez mis à jour le rapport!</h3>
    <h4>Merci de contribuer à créer de meilleurs logiciels!</h4>
  </div>
</div>
<div class="row text-center">
    <h4>Que désirez-vous faire maintenant?</h4>
      <div *ngIf="!!authService.isLoggedIn()" class="">
          <button class="btn btn-primary" (click)="onViewClick()">Revoir le rapport</button>
          <button class="btn btn-default" (click)="onBackClick()">Retour à la page principale</button>
      </div>
</div>
</div>


